body{
  background-color: #eee;
}

.App{
  padding: 30px;
  box-sizing: border-box;
}

.header{
  width: 95%;
  background-color: rgb(187, 187, 187);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
}

.arama_kutusu{
  width: 80%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.arama_kutusu input{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: white !important;
  color: #414141;
  padding-left: 40px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.arama_kutusu button{
  width: 75px;
  height: 50px;
  background-color: rgb(13, 105, 211);
  color: white;
  border-radius: 8px;
  border-color: rgb(13, 105, 211);
  position: absolute;
  top: 0px;
  right: 0px;
  outline: none;
  border: 0;
}