body {
  background-color: #eee;
}

.App {
  padding: 30px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: rgb(187, 187, 187);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
}

.arama_kutusu {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.arama_kutusu input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: white !important;
  color: #414141;
  padding-left: 40px;
  box-sizing: border-box;
  border: none;
  outline: none;
}


.ilan {
  padding: 16px;
  margin: 16px 0px;
  background: #92454518;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.ilan img {
  max-width: 100%;
  height: auto;
}

.ilan-baslik {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.ilan-lokasyon,
.ilan-kategori {
  font-style: italic;
  color: #555;
}

.ilan-listesi{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}